@font-face {
    font-family: "bebasNeue";
    src: url(../fonts/bebasneue.ttf);
}
@font-face {
    font-family: "lobster";
    src: url(../fonts/lobster.ttf);
}
* {
	box-sizing: border-box;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
button, button:active, button:focus {
    outline: none;
}
nav p{
    display: none;
}
a:focus {
    outline: none;
}
a{
    text-decoration: none;
}
html {
	width: 100%;
}
body {
	width: 100%;
    font-family: "bebasNeue";
}
.wrapper{
    position: relative;
}

                                /*HEADER STYLE*/

header{
    padding: 0 11% 0 11%;
    text-align: center;
}
header h1 {
    font-family:"lobster";
    color:  #3bc3b5;
    font-size: 49px;
    line-height: 19px;
    text-align: left;
    line-height: 83px;
    float: left;
}
.input{
       position: relative;
       float: left;
       margin-right: 5px;
       margin-left: 18%;   
       margin-top: 30px;
}
input {
    display: block;
    outline: none;
    height: 31px;
    width: 250px;
}
.input_img{
    position: absolute;
    top: -80%;
    left: 90%;
}
.shape{
    float: right;
}
.shape span{
    color:  #a1a1a1;
    font-size: 33px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
}
header img {
    display: inline-block;
    padding-right: 5px;
    padding-top: 30px;
}
header a{
    font-family: "OpenSans";
    color:  #a1a1a1;
    font-size: 33px;
    line-height: 19px;
    text-align: left;  
    padding-bottom: 5px;
}

                                /*NAV STYLE*/

nav{
     background-color:  #4ccfc1;
   	 padding-right: 7%;
     padding-left: 7%;
}	
ul{
    text-align: center;
}
nav li {
    display: inline-block;
    height: 21px;
    border-right: 2px solid #000;
    border-color: white;
    margin-top: 7px;
    margin-bottom: 7px;
    padding: 0 2.5% 0% 2.5%;
}
nav a {
    display: inline-block;
    color: white;
    text-decoration: none;
	font-size: 20px;	
}
nav ul li:first-child{
    padding-left: 0;
}
nav ul li:last-child{
    padding-right: 0;
    border: none;
}

                                /*SLIDER_ONE STYLE*/

.slider_one{
    background-color: #40c3ba;
    width: 100%;
    padding: 62px 18% 52px 14%;
}
.slider_one img{
    float: left;
    display: block;
    width: 31%
}
.slider_one_img_content {
    width: 44%;
    margin-left: 8%;
    float: left;
    position: relative;
}
.slider_one_img_content h2{
    color:  #ffffff;
    font-size: 61px;
    line-height: 52px;
    text-align: left;
    padding-bottom: 4%;
}
.slider_one_img_content p{
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    font-size: 17px; 
    line-height: 35px; 
    text-align: left;
}
.slider_one_img_content button{
    font-family: "bebasneue";
    width: 139px;
    height:  46px;
    border-radius: 8px;
    border-style: solid;
    border-width: 3px;
    border-color:  #ffffff;
    background-color: rgba(255, 255, 255, 0);
    color:  #ffffff;
    font-size: 27px;
    text-align: center;
    margin-top: 6%; 
    outline: none;
}
.slider_one_checkbox_img {
    width: 9px;
    height: 9px;
    background-color: white;
    float: left;
    margin-right: 3%;
    border-radius: 50%;
    margin-top: 15%;
    margin-bottom: 8%;
}
.slider_one_checkbox_img:hover{
background-color:  rgba(255, 255, 255, 0.32);

}

                                /*SLIDER_TWO STYLE*/
.slider_two{
    position: relative;
}
.slider_two_content{
    width: 95%;
    margin:0 auto;  
}
.left{
    position: absolute;
    top: 15%;

}
.right{
    position: absolute;
    left: 97%;
    top: 15%;
}
.slider_two_content_item{   
    width: 33.33%;  
    float: left;
    padding-top: 2%;
    padding-bottom: 1%;
    border-right: 1px solid lightgrey;
}
.slider_two_content .slider_two_content_item:last-child{
    border: none;
}
.slider_two_content .slider_two_content_item:first-child img{
     width: 65%;
}
.slider_two_content_img img{
    display: block;
    float: left;
    width: 55%;
}
.slider_two_content_img{
    float: left;
    width: 60%;
}
.slider_two_content_text{
    float: left;
    width: 25%;
}
.slider_two_content_text p{
    color:  #afafaf;
    font-size: 27px;
    line-height: 25px;
    text-align: left;
    float: left;
}
.slider_two button{
   display: inline-block;
    border-radius: 3px;
    background-color:  #3cc395;
    font-family: "bebasneue";
    color:  #ffffff;
    font-size: 20.19px;
    height: 32px;
    text-align: center;
    width: 65px;
    border: none;
    float: left;
    margin-top: 15%;
}
                                /*BORDER STYLE*/

.border{
    line-height: 50px;
    background-color: #40c3ba;
}
.border h2{
    color:  #ffffff;
    font-size: 31px;
    line-height: 60px;
    padding-left: 16%;
}

                                /*GALLERY STYLE*/

.gallery{
    width: 90%;
    margin: 0 auto;
    padding: 3% 10% 0 10%;
    
}
.gallery_container, .gallery_container_right{
    width: 28%;
    height: 260px;
    float: left;
    border: 1px solid;
    border-color: lightgrey;
    border-bottom: 5px solid #3cc395;
    padding-top: 3%;
    text-align: center;
    margin:0 8% 4% 0;
}
.gallery_container img, .gallery_container_right img{
    max-width: 100%;
}
.gallery button{
    display: inline-block;
    border-radius: 3px;
    background-color:  #3cc395;
    font-family: "bebasneue";
    color:  #ffffff;
    font-size: 20.19px;
    line-height: 30px;
    text-align: center;
    width:74px;
    border: none;
    margin-left: 10%;
}
.gallery_container_content{
    padding-top: 7%;
    text-align: center;
}
.gallery p{
    color:  #afafaf;
    font-size: 27px;
    line-height: 25px;
    text-align: center;
    margin-top: 1%;
}
.gallery_container_right{
    margin-right:0;
}

                                /*SECTION class="href" STYLE*/

.href {
    padding: 3% 0 1% 15%;
    background-color: #3cc3b5;
}
.section_href{
    float: left;
    margin-right: 12%;
}
.section_href a{
    font-family: "OpenSans";
    color:  #ffffff;
    font-size: 15px;
    line-height: 28px;
}
.section_href li{
    text-align: left;
}
.section_href h2{
    color:  #ffffff;
    font-size: 27px;
    line-height: 25px;
    text-align: left;
}

                                /*FOOTER  STYLE*/

footer{
    background-color: #2da89b;

}
footer p{
    font-family: "OpenSans";
    color:  #ffffff;
    font-size: 15px;
    line-height: 46px;
    text-align: center;
}

                                /*@MEDIA 768px STYLE*/


@media(max-width: 768px){
                                    /*HEADER STYLE*/
    
    header{
        padding: 0 5% 0 5%;
    }
    header h1{
        font-size: 35px;
    }
    .input{
           margin-left: 5%;   
    }
    .shape{
        float: left;
    }
    .input_img{
       display: none;
    }
    header img {
        width: 40%;
    }
                                /*SLIDER_ONE STYLE*/
    
    .slider_one{  
        padding: 62px 5% 52px 5%;
    }
    
                                /*SLIDER_TWO STYLE*/
    
    .slider_two_content_img{
        width:35%;
    }
    .slider_two_content_text{
        width: 40%;
    }
    .slider_two_content_text button{
        float: none;
    }
    
                                /*GALLERY STYLE*/ 
    
    .gallery{
        padding: 3% 0% 0 5%; 
    }
    .gallery_container, .gallery_container_right{
        width: 40%;
        min-width: 250px;
        margin:0 4% 4% 0;
    }
}

                                /*@MEDIA 475px STYLE*/


@media(max-width: 475px){
    
                                /*SLIDER_TWO STYLE*/
    
    .slider_two{
        width: 95%;
        margin:0 auto;  
    }   
    .left{
        position: absolute; 
        transform: rotate(90deg);
        top: -4%;
        left: 40%
    }
    .right{
        position: absolute;
        transform: rotate(90deg);
        top: 90%;
        left: 40%;
    }
    .slider_two_content_item{   
        width: 100%;  
        padding-top: 7%;
        padding-bottom: 7%;
        border-right: none;
        border-bottom: 1px solid lightgrey;
    }
    .slider_two_content_img{
        width: 60%;
    }
    .slider_two_content_text{
        width: 30%;
    }
}


                                /*@MEDIA 320px STYLE*/

@media(max-width: 320px){
    
                                 /*HEADER STYLE*/    
    
    header{
        padding: 3% 5% 0 5%;
    }
    header h1 {
        font-size: 35px;
        line-height: 20px;
    }
    .input{
           margin-left: 5%;   
           padding-top: 0;
    }
    .input_img{
       display: none;
    }
    .shape{
        float: left;
    }
    header img {
        width: 40%;
    }
                                 /*SLIDER_ONE STYLE*/
    
    .slider_one{
        padding: 62px 2% 52px 5%;
    }
    .slider_one_img_content p{
        font-size: 15px; 
        line-height: 25px; 
        text-align: center;
    }
    .slider_one_img_content h2{
        color:  #ffffff;
        font-size: 50px;
        text-align: center;
    } 
    
                                /* SLIDER_TWO STYLE*/    
    
    .slider_two{
        width: 95%;
        margin:0 auto;  
    }
    .left{
        position: absolute; 
        transform: rotate(90deg);
        top: -7%;
        left: 40%
    }
    .right{
        position: absolute;
        transform: rotate(90deg);
        top: 86%;
        left: 40%;
    }
    .slider_two_content_item{   
        width: 100%;  
        padding-top: 7%;
        padding-bottom: 7%;
        border-right: none;
        border-bottom: 1px solid lightgrey;
    }
    .slider_two_content_img{
        width: 60%;
    }
    .slider_two_content_text{
        width: 30%;
    }
    
                                    /*HREF STYLE*/    
    
    .href{
        display: none;
    }
}
